{{ template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>This is a about</h1>
                <p>This si the about text.</p>
            </div>
        </div>
    </div>
{{end}}